@import "./reset";
@import "./variable";
@import 'font-awesome';
@import "modules/user";
@import "config/colors";
@import "modules/flash";
@import "modules/group";
@import "modules/side_bar";

.flash-box {
  background-color: $light_blue;
  text-align: center;
  color: $white;
  font-size: 1rem;
  width: 100vw;
  font-weight: lighter;
  height: 30px;
  line-height: 30px;
}
.chat-side {
  width: 300px;
  color: $white;
  float: left;
  .header {
    background-color: #253141;
    height: 100px;
    align-items: center;
    padding: 0 20px;
    display: flex;
    &__box {
      display: flex;
      justify-content: space-between;
      width: 100%;
      &__name {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
        padding: 0;
      }
      &__lists {
        display: flex;
        .list {
          margin-left: 0.3rem;
          font-size: 1.3rem;
          .icon {
            color: $white;
            display: inline-block;
            font-size: $side_header_font;
          }
        }
      }
    }
  }
  .groups {
    height: calc(100vh - 120px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
    .group {
      margin-bottom: 40px;
      a {
        text-decoration: none;
      }
      &__name {
        font-size: 15px;
        color: $white;
        margin-bottom: 5px;
      }
      &__message {
        font-size: 11px;
        color: $white;
      }
    }
  }
}

.chat-main {
  width: calc(100vw - 300px);
  float: left;
  .main-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eeeeee;
    overflow: scroll;
    a {
      text-decoration: none;
    }
    &__left-box {
      margin-top: 35px;
      &__current-group {
        font-size: 20px;
        color: #333333;
        margin-bottom: 15px;
      }
      &__member-list {
        font-size: 12px;
        color: $light-gray;
        display: flex;
      }
    }
    &__edit-btn {
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 28px;
      border: solid 1px $light_blue;
      position: absolute;
      right: 40px;
    }
  }
  .messages {
    height: calc(100vh - 283px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;
    .message {
      padding-bottom: 40px;
      &__upper-info {
        display: flex;
        margin-bottom: 10px;
        &__talker {
          font-size: 16px;
          font-weight: bold;
          color: $black;
        }
        &__date {
          font-size: 12px;
          color: $light-gray;
          margin-left: 10px;
        }
      }
      &__text {
        font-size: 14px;
        color: $black;
        margin-bottom: 10px;
      }
    }
  }
  .form {
    height: 50px;
    padding: 20px 40px 20px 40px;
    background-color: #dddddd;
    .new-message {
      display: flex;
      justify-content: space-between;
      .input-box {
        position: relative;
        width: calc(100vw - 400px);
        margin: 0 10px 0 10px;
        display: flex;
        &__text {
          height: 50px;
          width: calc(100vw - 400px);
          font-size: 16px;
          color: $black;
          padding: 0 0 0 10px;
          border-style: none;
        }
        &__image {
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 130px;
          cursor: pointer;
          .fa {
            display: inline-block;
            font-size: inherit;
            color: black;
          }
          &__file {
            display: none;
          }
        }
        .submit-btn {
          background-color: $light_blue;
          margin-left: 15px;
          height: 50px;
          width: 100px;
          padding: 0 30px;
          color: $white;
          cursor: pointer;
        }
      }
    }
  }
}